h3 {
    margin: 40px 0 0;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    display: inline-block;
    margin: 0 10px;
  }
  a {
    color: #42b983;
  }

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-column-gap: 20px;
  grid-row-gap: 30px;
}

.right, .left {
  background: #e7e7e7;
  padding: 16px;
}

/*.right {*/
/*  grid-column: right;*/
/*}*/

/*.left {*/
/*  grid-column: left;*/
/*}*/
